errorhandler/src/main/mule/errorhandler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="1126ba01-d3a7-4451-abd6-510f4916decf" >
		<db:my-sql-connection host="localhost" port="3307" user="root" password="dccm " database="db3" />
	</db:config>
	<flow name="errorhandlerFlow" doc:id="092ce954-0c5d-4d9f-acfc-5f0ae7baa428" >
		<http:listener doc:name="Listener" doc:id="c5adf892-d7eb-4a94-9639-8ce67885f6c9" path="/error" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="7a1b9376-acf1-4802-a8c4-007555836f5e" message="Startggg"/>
		<set-variable value="#[attributes.queryParams.amount]" doc:name="Set Variable" doc:id="c699d065-1733-4c39-a748-1deeb6226a64" variableName="amount"/>
		<choice doc:name="Choice" doc:id="08708584-fab8-4587-a079-143ba791608e" >
			<when expression="#[vars.amount &lt;= 500]">
				<ee:transform doc:name="Transform Message" doc:id="e4c54b80-7fec-430d-a755-04bc27842820" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"valid"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="8ff4ab63-138f-4c0e-8cef-8320176fa9be" type="CUSTOM:CUSTOM_ERROR" description="insufficent funds"/>
			</otherwise>
		</choice>
	</flow>
</mule>
